##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')
#set($h6 = '######')
#set($dollar = '$')
#macro(title $title)
<head>
    <title>$title</title>
</head>

$h2 $title
#end

## Internal links to documentation pages in alphabetic order:
[GNU AFFERO GENERAL PUBLIC LICENSE, Version 3]: license.html#GNU_AFFERO_GENERAL_PUBLIC_LICENSE_Version_3_19_November_2007

## Internal links to other pages in alphabetic order:
[TrueLicense Maven Archetype]: truelicense-maven-archetype/index.html

## External links in alphabetic order:
[Apache Maven]: http://maven.apache.org/
[Apache Tomcat]: http://tomcat.apache.org/
[Apache Velocity]: http://velocity.apache.org/
[Git]: http://git-scm.com
[Maven Archetype Plugin]: http://maven.apache.org/archetype/maven-archetype-plugin/
[Maven POM]: http://maven.apache.org/guides/introduction/introduction-to-the-pom.html
[Mercurial]: http://mercurial.selenic.com
[ProGuard]: http://proguard.sourceforge.net
