##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#parse("_include.vm")
#title("Getting Help")

$h3 Frequently Asked Questions

Please check the [FAQ](faq.html) first.
This is work in progress, so it's a good idea to check back whenever you need
help.

$h3 Web Site

The documentation on this site is generally split across submodules, so please
check the section _Submodules_ in the navigation bar.

$h3 Javadoc

If you need help with the APIs, please check the comprehensive
[Javadoc](apidocs/overview-summary.html).
This is updated for every release, so it may be worth to recheck if have you
been missing something in the past.

$h3 Issue Tracker

Once your question or issue is regarded as a bug report, improvement
request, feature request or task request it gets tracked on
[Bitbucket](https://bitbucket.org/christian-schlichtherle/truelicense3/issues).
You can use the ticket system to monitor and discuss their progress, vote for it, add file
attachments, download hotfixes etc.

$h3 Professional Services

If you need help with integrating TrueLicense into your software product,
please [contact me](team-list.html) for professional services.
