##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#parse("_stddef.md.vm")
#title("Dual Licensing")

TrueLicense is commercial open source software covered by two licenses:

For **open source software**, TrueLicense is subject to the
[GNU AFFERO GENERAL PUBLIC LICENSE, Version 3].
The AGPLv3 is a viral license, so you need to license your software under the 
same terms!
At runtime, TrueLicense prints a notice telling your users that your
software is subject to the AGPLv3 and that they need to have access
to its source code for free.

For **closed source software**, you need to subscribe to the commercial
licensing program for TrueLicense and buy one or more TrueLicense 
certificates.
At runtime, if the signature of each certificate is found to be valid then
no notice gets printed.

<a href="pricing.html" class="btn btn-info">Check Price</a>
