##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#parse("_include.vm")
<head>
    <script src="js/orderNow.js"></script>
</head>
#title("Affordable Pricing")

$h3 About Editions and Certificates

You may want to bundle some features of your software product into different 
editions so that you can sell different types of license keys at different
prices.
Typically each edition is a subset or a superset of any other edition.
Even if you want to sell only one type of license key, this counts as one
edition.

In order to generate license keys for an edition you need to buy a TrueLicense 
certificate. 
With each certificate you can generate an unlimited number of license keys!

$h3 Pricing with Examples

A TrueLicense certificate costs **only 299 EUR per annum**, plus 
<abbr title="Value Added Tax">VAT</abbr> where applicable.

For example, many software products define only one edition.
In this case, each license key unlocks all features of the software product and
only one TrueLicense certificate is required.
The effective price is then 299 EUR per annum, plus VAT where applicable.

For another example, the features of a software product may be bundled into a
Standard Edition and an Enterprise Edition. 
In this case, each license key unlocks the features of either the Standard 
Edition or the Enterprise Edition and two TrueLicense certificates are required.
The effective price is then 2 * 299 = 598 EUR per annum, plus VAT where 
applicable.

You can add additional editions anytime.
This allows you to start small with only one TrueLicense certificate for one 
edition.

$h3 Term

The commercial licensing program stays effective as long as your software
product is available for sale.
Once your software product has gone out of sale, you can unsubscribe from the
program anytime.
There are no refunds available, however.

$h3 Ordering

For ordering please contact `sales` AT `schlichtherle` DOT `de`.
Please include your billing email, company name, company address, product name,
product URL and the number of TrueLicense certificates.
PayPal and wire transfer can be accepted - no credit cards please.

<a href="#" id="orderNow" class="btn btn-primary">Order Now</a>
