##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head>
    <title>Overview</title>
</head>

$h2 Overview

<p class="lead">$project.description</p>

$h3 Features

Using the $project.name you can...

* Obfuscate constant string values in Java source code or byte code in order to
  complement general byte code obfuscation and enhance the security level of
  your software product.
* Use bundled with other TrueLicense modules or standalone (mind the license).

$h3 Usage

For usage information, please have a look at the
[TrueLicense Maven Archetype](../truelicense-maven-archetype/index.html).
You can also check the Javadoc for the package
[`net.truelicense.obfuscate`](../apidocs/net/truelicense/obfuscate/package-summary.html).
