<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2005-2015 Schlichtherle IT Services.
  ~ All rights reserved. Use is subject to license terms.
  -->
<!DOCTYPE faqs [<!ENTITY nbsp "&#160;">]>
<faqs xmlns="http://maven.apache.org/FML/1.0.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/FML/1.0.1 http://maven.apache.org/xsd/fml-1.0.1.xsd"
      title="Frequently Asked Questions"
      toplink="false">
    <part id="general">
        <faq id="where-can-i-download-truelicense">
            <question>
                Where can I download TrueLicense?
            </question>
            <answer>
                <p>
                    Actually, you don't want to do that.
                    Instead, you should use the
                    <a href="truelicense-maven-archetype/index.html">
                        TrueLicense Maven Archetype
                    </a>
                    to generate a custom project for you.
                    When running its build, Maven will download the TrueLicense
                    JARs from Maven Central and generate JARs for your custom
                    project, including a standalone JAR with the API for
                    vending and consuming license keys according to your
                    configured licensing schema.
                </p>
                <a href="truelicense-maven-archetype/index.html"
                   class="btn btn-success">
                    Start Now
                </a>
            </answer>
        </faq>
        <faq id="do-i-have-to-use-Maven-with-my-software-product-for-using-truelicense">
            <question>
                Do I have to use Maven with my software product for using TrueLicense?
            </question>
            <answer>
                <p>
                    No, you can use TrueLicense in your software product
                    without using Maven.
                    However, it's strongly recommended to use the
                    <a href="truelicense-maven-archetype/index.html">
                        TrueLicense Maven Archetype
                    </a>
                    for generating a custom project for you.
                    Once Maven has build your custom project, you can grab the
                    standalone JAR of the Key Generator or Key Manager module
                    and put it on the your class path.
                </p>
                <a href="truelicense-maven-archetype/using-api.html#Without_Maven"
                   class="btn btn-info">
                    Go to Documentation
                </a>
            </answer>
        </faq>
        <faq id="how-to-retain-compatibility-with-existing-license-keys">
            <question>
                How to retain compatibility with existing license keys?
            </question>
            <answer>
                <p>
                    You can retain compatibility with any V2/JSON, V2/XML or V1
                    format license keys by configuring the same cryptographic
                    algorithms and parameters, e.g. key stores and passwords.
                    The recommended strategy to do this is to generate a new
                    project from the
                    <a href="truelicense-maven-archetype/index.html">
                        TrueLicense Maven Archetype
                    </a>
                    and then customize it.
                </p>
                <a href="truelicense-maven-archetype/updating.html#Migrating_Your_Project"
                   class="btn btn-info">
                    Go to Documentation
                </a>
            </answer>
        </faq>
    </part>
</faqs>
