##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head>
    <title>Overview</title>
</head>

$h2 Overview

<p class="lead">$project.description</p>

$h3 Features

Using the $project.name you can...

* Define a generic, reusable model for wizard dialogs:
    * Stay independent of the user interface technology, e.g. JSF or Swing.
    * Stay independent of the problem domain, e.g. license management.
    * Supplement the model with minimal complexity overhead.
* Adapt the model for license management wizard dialogs to a specific user
  interface technology.
* Take advantage of an internationalized API with English and German
  localizations.
* Use custom, internationalized messages in wizard dialogs.

$h3 Usage

For usage information, please have a look at the
[TrueLicense Maven Archetype](../truelicense-maven-archetype/index.html).
You can also check the Javadoc for the package
[`net.java.truelicense.ui`](../apidocs/net/java/truelicense/ui/package-summary.html).
