##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head>
    <title>Overview</title>
</head>

$h2 Overview

<p class="lead">$project.description</p>

$h3 Features

Using the $project.name you can...

* Consume license keys using a graphical user interface based on Swing.
* Take advantage of an internationalized API with English and German
  localizations.
* Customize the look and feel using Swing.

$h3 Usage

For usage information, please have a look at the
[TrueLicense Maven Archetype](../truelicense-maven-archetype/index.html).
You can also check the Javadoc for the package
[`net.java.truelicense.swing`](../apidocs/net/java/truelicense/swing/package-summary.html).
