<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
    <head>
        <script src="js/carousel.js" type="text/javascript"/>
        <title>Welcome!</title>
    </head>
    <body>
        <section name="Welcome!" class="hero-unit">
            <p>$project.description</p>
        </section>
        <section name="">
            <div id="welcome" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="hero-unit">
                            <h1>Code Generator</h1>
                            <p>The TrueLicense Maven Archetype generates a custom licensing schema for your software product.</p>
                            <p><a class="btn btn-large btn-success pull-right" href="truelicense-maven-archetype/index.html">Start now</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hero-unit">
                            <h1>Security By Design</h1>
                            <p>TrueLicense effectively protects your intellectual property and the privacy of your customers.</p>
                            <p><a class="btn btn-large btn-info pull-right" href="security.html">Learn more</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hero-unit">
                            <h1>Dual Licensing</h1>
                            <p>TrueLicense is commercial open source software covered by two licenses.</p>
                            <p><a class="btn btn-large btn-info pull-right" href="licensing.html">Learn more</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hero-unit">
                            <h1>Affordable Pricing</h1>
                            <p>A TrueLicense certificate costs <strong>only 299 EUR per annum</strong>, plus VAT where applicable.</p>
                            <p><a class="btn btn-large btn-info pull-right" href="pricing.html">Learn more</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hero-unit">
                            <h1>Do You Need Help?</h1>
                            <p>Explore the web site, FAQ, Javadoc, mailing lists, issue tracker or ask for professional services.</p>
                            <p><a class="btn btn-large btn-info pull-right" href="help.html">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#">&#8249;</a>
                <a class="right carousel-control" href="#">&#8250;</a>
            </div>
        </section>
    </body>
</document>
