##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head>
    <title>Overview</title>
</head>

$h2 Overview

<p class="lead">$project.description</p>

$h3 Features

Using the $project.name you can...

* Encode arbitrary properties into license keys using using the Jackson JSON
  Processor.
* Take advantage of smaller license keys and faster processing by using the
  version-2-with-JSON (V2/JSON) license key format.

$h3 Usage

For usage information, please have a look at the
[TrueLicense Maven Archetype](../truelicense-maven-archetype/index.html).
You can also check the Javadoc for the package
[`net.java.truelicense.json`](../apidocs/net/java/truelicense/json/package-summary.html).
