##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
<head>
    <title>Overview</title>
</head>

$h2 Overview

<p class="lead">$project.description</p>

$h3 Features

Using the $project.name you can...

* Encode arbitrary properties into license keys using using 
  [`java.beans.XMLEncoder`](https://docs.oracle.com/javase/7/docs/api/java/beans/XMLEncoder.html).
* Retain compatibility with existing license keys using the version-1 (V1) 
  license key format.

$h3 Usage

For usage information, please have a look at the
[TrueLicense Maven Archetype](../truelicense-maven-archetype/index.html).
You can also check the Javadoc for the package
[`org.truelicense.v2.xml`](../apidocs/org/truelicense/v2/xml/package-summary.html).
