##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')
#set($h6 = '######')
#macro(title $title)
<head>
    <title>$title</title>
</head>

$h2 $title
#end
#macro(nav $prev-text $prev-href $next-text $next-href)
<ul class="pager">
  <li class="previous">
    <a href="$prev-href">&larr; $prev-text</a>
  </li>
  <li class="next">
    <a href="$next-href">$next-text &rarr;</a>
  </li>
</ul>
#end
#macro(prev $prev-text $prev-href)
<ul class="pager">
  <li class="previous">
    <a href="$prev-href">&larr; $prev-text</a>
  </li>
</ul>
#end
#macro(next $next-text $next-href)
<ul class="pager">
  <li class="next">
    <a href="$next-href">$next-text &rarr;</a>
  </li>
</ul>
#end

## Internal links to documentation pages in alphabetic order:
[Building Your Project]: building.html
[Certifying Your Project]: certifying.html
[Example Configurations]: examples.html
[Exploring Your Project]: exploring.html
[Generating Your Project]: generating.html
[Getting Started]: index.html
[Prerequisites]: prerequisites.html
[Setting Up a VCS]: setting-up-vcs.html
[Updating Your Project]: updating.html
[Using the API]: using-api.html
[Using the CLI]: using-cli.html
[Using the GUI]: using-gui.html
[Using the WSI]: using-wsi.html

## Internal links to other pages in alphabetic order:
[TrueLicense Maven Plugin]: ../truelicense-maven-plugin/index.html

## External links in alphabetic order:
[Apache Maven]: http://maven.apache.org/
[Apache Tomcat]: http://tomcat.apache.org/
[Apache Velocity]: http://velocity.apache.org/
[Git]: http://git-scm.com
[Mercurial]: http://mercurial.selenic.com
[POM]: http://maven.apache.org/guides/introduction/introduction-to-the-pom.html
[ProGuard]: http://proguard.sourceforge.net
