##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#parse("_include.vm")
#title("Exploring Your Project")

This page shows you what's in your generated project.

$h3 Structure

The directory generated in the previous step contains a
multi-module Maven project with the following structure:

    ${dollar} tree
    .
    ├── ${dollar}{artifactId}-keygen
    │   ├── pom.xml
    │   └── src
    │       ├── main
    │       │   ├── filtered
    │       │   │   └── ${dollar}{packageInPathFormat}
    │       │   │       └── keygen
    │       │   │           └── Main.properties
    │       │   └── java
    │       │       └── ${dollar}{packageInPathFormat}
    │       │           └── keygen
    │       │               ├── LicenseManager.java.vtl
    │       │               ├── LicensingSchema.java.vtl
    │       │               └── Main.java.vtl
    │       └── test
    │           └── java
    │               └── ${dollar}{packageInPathFormat}
    │                   └── keygen
    │                       └── MainIT.java.vtl
    ├── ${dollar}{artifactId}-keymgr
    │   ├── pom.xml
    │   └── src
    │       ├── main
    │       │   ├── filtered
    │       │   │   └── ${dollar}{packageInPathFormat}
    │       │   │       └── keymgr
    │       │   │           └── Main.properties
    │       │   └── java
    │       │       └── ${dollar}{packageInPathFormat}
    │       │           └── keymgr
    │       │               ├── LicenseManager.java.vtl
    │       │               ├── LicensingSchema.java.vtl
    │       │               └── Main.java.vtl
    │       └── test
    │           ├── java
    │           │   └── ${dollar}{packageInPathFormat}
    │           │       └── keymgr
    │           │           ├── LicensingSchemaIT.java.vtl
    │           │           └── MainIT.java.vtl
    │           └── resources
    ├── ${dollar}{artifactId}-keymgrsrv
    │   ├── pom.xml
    │   └── src
    │       ├── main
    │       │   └── java
    │       │       └── ${dollar}{packageInPathFormat}
    │       │           └── keymgrsrv
    │       │               └── LicenseConsumerManagerResolver.java
    │       └── test
    │           └── java
    │               └── ${dollar}{packageInPathFormat}
    │                   └── keymgrsrv
    │                       └── Main.java
    └── pom.xml

    53 directories, 17 files

... where `${dollar}{packageInPathFormat}` is like `${dollar}{package}`, but 
with `/` instead of `.` characters.

$h3 Overview

Following is an overview of the generated files and sub-directories.
In these definitions, the pattern `**` refers to any valid directory path name,
whereas `*` refers to any substring of any single path name element:

`**/pom.xml`
:   These are the Maven 
    <a href="http://maven.apache.org/guides/introduction/introduction-to-the-pom.html"><abbr title="Project Object Model">POM</abbr></a> 
    files for the respective Maven modules in the matched directories.

`pom.xml`
:   The Maven file in the top level directory is colloquially called the
    _parent POM_.
    The parent POM defines useful defaults for use by the other
    Maven POM files.
    For example, it contains a section with properties which configure the
    algorithms and parameters used by the generated licensing schema classes.

`**/*.java.vtl`
:   These are [Apache Velocity] template files for generating Java source
    files.
    Each template file is merged with all Maven properties into a Java source
    file by the [TrueLicense Maven Plugin].
    The TrueLicense Maven Plugin is added to the build lifecycle in
    the Maven POM (`**/pom.xml`) files.

`${dollar}{artifactId}-keygen`
:   This directory contains the module with the code required to generate
    license keys for your software product.
:   **This module needs to be kept under lock and key - you must not distribute
    it!**

`${dollar}{artifactId}-keygen/src/main/java/${dollar}{package}/keygen/LicenseManager.java.vtl`
:   This file defines the part of the licensing schema for use within the 
    license key generator - see page [Using the API].

`${dollar}{artifactId}-keygen/src/main/java/${dollar}{package}/keygen/LicensingSchema.java.vtl`
:   Deprecated - provided for compatibility only.
    You can ignore this file if you're not upgrading your software product from
    an older version of the $project.name.

`${dollar}{artifactId}-keymgr`
:   This directory contains the module with the code required to consume
    license keys within your software product.
    This module is supposed to be bundled with your software product as a
    library that your software product depends upon for installing, loading,
    verifying or uninstalling license keys.
:   **You must obfuscate this module and its dependencies in order to prevent
    your software product from being vulnerable to an attack where the original
    TrueLicense Core JAR would be replaced with a stub!**
    A configuration for [ProGuard] is included in the Maven POM for this
    module which is used to generate an obfuscated version of the standalone
    JAR of this module - see page [Using the CLI].

`${dollar}{artifactId}-keymgr/src/main/java/${dollar}{package}/keymgr/LicenseManager.java.vtl`
:   This file defines the part of the licensing schema for use within your 
    software product - see page [Using the API].

`${dollar}{artifactId}-keymgr/src/main/java/${dollar}{package}/keymgr/LicensingSchema.java.vtl`
:   Deprecated - provided for compatibility only.
    You can ignore this file if you're not upgrading your software product from
    an older version of the $project.name.

`${dollar}{artifactId}-keymgrsrv`
:   This directory contains the module with the code to provide a RESTful web
    service for license management in your software product.
    You can ignore this module if your application is not a server application
    or if you don't want to expose an API for license management via a RESTful
    web service in your software product.

---

#nav("Example Configurations" "examples.html" "Setting Up a VCS" "setting-up-vcs.html")
