##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#parse("_stddef.md.vm")
#title("Overview")

<p class="lead">$project.description</p>

$h3 Features

Using the $project.name you can...

* Design and implement a custom licensing schema without writing code.
* Customize the licensing schema by configuring a set of properties.
* Manually or automatically start an <abbr title="Free Trial Period">FTP</abbr> 
  for users.
* Sell different types of license keys for different editions of your software 
  product.
* Encode arbitrary properties into license keys using 
  <abbr title="eXtensible Markup Language">XML</abbr> or 
  <abbr title="JavaScript Object Notation">JSON</abbr>.
* Take advantage of the modular architecture for vending and consuming license 
  keys.
* Embed the modules in your own code or use them standalone.
* Generate an internationalized <abbr title="Command Line Interface">CLI</abbr> 
  for vending and consuming license keys.
* Generate an internationalized <abbr title="Graphical User Interface">GUI</abbr> 
  for consuming license keys.
* Generate a <abbr title="REprentational State Transfer">REST</abbr>ful 
  <abbr title="Web Service Interface">WSI</abbr> for consuming license keys.
* Generate an <abbr title="Application Programming Interface">API</abbr> for 
  vending and consuming license keys.
* Obfuscate constant string values with the [TrueLicense Maven Plugin].
* Bundle all license consumer <abbr title="Java ARchive">JAR</abbr>s and 
  obfuscate them with [ProGuard] in order to generate a standalone JAR for 
  distribution to users.

---

#next("Prerequisites" "prerequisites.html")
