##
## Copyright (C) 2005-2015 Schlichtherle IT Services.
## All rights reserved. Use is subject to license terms.
##
#parse("_stddef.md.vm")
#title("Prerequisites")

This page shows you what you need to work with TrueLicense.

$h3 Software

For using TrueLicense, you just need to have a Java Runtime Environment,
version $maven-enforcer-requireJavaVersion or later installed.

For generating and building a project from the $project.name, you also need to
use [Apache Maven], version $maven-enforcer-requireMavenVersion or later.
You are not required to use Maven for using the project in your software
product however:
Once you are done [building your project], you can just add the
standalone JARs or the regular JARs with their dependencies to the class path
of your software product - see [using the API].

It's also strongly recommended, but not strictly necessary, to use a source
code management system, e.g. [Git](http://git-scm.com) or
[Mercurial](http://mercurial.selenic.com).

$h3 TrueLicense Certificate

For **closed source software**, you need to subscribe to the commercial
licensing program for TrueLicense and buy one or more TrueLicense 
certificates or **otherwise you are required to open source your software 
product** under the terms of the
[GNU AFFERO GENERAL PUBLIC LICENSE, Version 3](license.html#GNU_AFFERO_GENERAL_PUBLIC_LICENSE_Version_3_19_November_2007).

<a href="../pricing.html" class="btn btn-info">Check Price</a>

---

#prev("Overview" "index.html")
#next("Generating Your Project" "generating.html")
